<!DOCTYPE html>

<html>
	<head>
	</head>
	<body>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<!--<div ng-app="">
		<p>Name : <input type="text" ng-model="name"></p>
		<p ng-bind="name"></p>
		</div>

		<div ng-app="" ng-init="firstName='John'">
			<p>The name is <span ng-bind="firstName"></span></p>
		</div>

		<div ng-app="">
			<p> Expression : {{5 + 8}} </p>
		</div>

		<div ng-app="">
			<p> Name : <input type=text ng-model="name"></p>
			<p> {{name}} </p>
		</div>-->

		<div ng-app="myApp" ng-controller="myCtrl">
			First Name: <input type="text" ng-model="firstname"><br>
			Last Name: <input type="text" ng-model="lastname"><br>
			Full Name: {{firstname + " " + lastname}}
		</div>

		<script>
		var app = angular.module('myApp', [])
		app.controller('myCtrl', function($scope){
			$scope.firstname= "John";
			$scope.lastName= "Doe";
		});
		</script>

	<!--	<div data-ng-app="" data-ng-init="names=['leo', 'kei', 'kai']">
			<p> noms:</p> 
				<ul>
					<li data-ng-repeat="x in names">{{ x }}</li>
				</ul>
			</div>

			 HIDE CHAT 
			<div ng-app="">
				<input type="checkbox" ng-model= "showhide2">Hide<button ng-show="showhide2">Click Me</button>
			</div>!-->
</body>
</html>